on: push
jobs:
        run-deck:
                runs-on: ubuntu-latest
                steps:
                        - name: Setup Deck
                          uses: kong/setup-deck@v1
                          with:
                                  deck-version: "1.26.1"
                        - name: Checkout
                          uses: actions/checkout@v2
                        - name: run Deck
                          run: deck sync --kong-addr http://34.80.150.14:8001

